[submodule "frontend"]
	path = frontend
	url = https://github.com/linskybing/pet-fitness-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/linskybing/pet-fitness-backend.git
